/* -----Font------ */

/*------------------ Poppins Font ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans+Condensed:wght@300&family=Pacifico&family=Poppins:wght@200&display=swap');


/*------------------ Manrope Font ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Manrope:wght@200&family=Open+Sans+Condensed:wght@300&family=Pacifico&family=Poppins:wght@200&display=swap');



/* -----Common Style----- */
body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    margin: 0%;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



/*---------- Header Style------- */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title{
    font-size: 24px;
    font-weight: 700;
}

.nav-title::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
.nav-title:hover::before {
    transform: scaleX(1);
    transform-origin: top left;
  }
  
.nav-title::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgb(255, 153, 192);
    z-index: -1;
    transition: transform .5s ease-in-out;
  }

.nav-list{
    display: flex;
}

.list-item{
    list-style: none;
    margin-right: 34px;
}

.list-item a{
    text-decoration: none;
    color: #3A3A3A ;
    font-weight: 600;
    font-size: 16px;
}

.list-item>a:hover {
    background-color: #E02C6D;
    padding: 4px 10px; 
    border-radius: 15px; 
}

.fa-search{
    align-items: center;
    margin-right: 34px;
    font-size: 16px;

}

.fa-shopping-cart{
    align-items: center;
    font-size: 16px;
}


.hidden{
    display: none;
}

.hidden1{
    display: none;
}



/* ------Main Style------ */

/*----- Influencer Journey -----*/

.container{
    display: flex;
}

.half-width{
    width: 50%;
    margin-left: 120px;
    margin-top: 80px;
}

.half-width h1{
    font-size: 52px;
    font-weight: 900;
    padding-top: 65px;
    margin: 0%;
}

.discription-para{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 32px;
}

.half-width a{
    color: white;
    text-decoration: none; 
    background-color: #E02C6D;
    padding: 10px 24px; 
    margin-bottom: 32px;
    border-radius: 41px;
}

.half-width img{
    width: 440px;
    height: 414px;
}



/*--------- Comapny Logo ---------*/

.company-container{
    margin-top: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo{
    align-items: center;
    padding: 36px;
    border: 1px solid #AAAAAA;

}

.logo-style {
    padding-inline: 30.5px;
}



/* <!------ Popular Collection Style ------> */

.popular-collection{
    margin-top: 100px;
}

.collection-title{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-column-gap: 44px;
}

.collection-list{
    border: 2px solid white; 
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
}

.collection-list img{
    width: 300px;
    height: 256px;
    padding: 17px;
    border-radius: 5px;
}


.product-name{
    margin: 0%;
    padding: 0px 17px;
    font-weight: 700;
    font-size: 28px;
}

.product-price{
    margin: 0%;
    padding: 0px 17px;
    font-size: 24px;
    font-weight: 500;
}

.rank-details{
    padding: 0 17px;
    align-items: center;
}

.fa-star{
    color: orange;
}

.see-more{
    padding-left: 10px;
    padding-top: 40px;
    align-items: center;
    color: #E02C6D;
    font-weight: 700;
    text-decoration: none;
    float: right;
}



/*-------- Featured Product ---------*/

.container1{
    display: flex;
    margin-top: 100px;
}

.half-width1{
    width: 40%;
    margin-left: 120px;
    
}

.half-width1 img{
        float: right;
        padding-right: 40px;
}

.feature-details{
    float: left;
    padding-right: 15px;
}
.half-width1 h1{
    font-size: 38px;
    font-weight: 900;
    margin: 0%;
}

.discription-para{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 32px;
}

.half-width1 a{
    color: white;
    text-decoration: none; 
    background-color: #E02C6D;
    padding: 10px 24px; 
    border: 0px solid;
    border-radius: 41px;
}



/*---------- Footer Style ----------*/

footer{
    background-color: #0A0826;
    text-align: center;
    color: white;
    margin-top: 100px;
}

.footer-style{
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-details h2{
    font-size: 24px;
    font-weight: 700;
}

.footer-details p{
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}

.footer-icons{
    font-size: 28px;
    color: #E02C6D;
}



/*----------- Mobile device ------------*/

@media screen and (max-width: 600px) {


    body{
        width: 100%;
    }

    /*-------- Header -------*/

    .navbar{
        display: flex;
        width: 90%;
        justify-content: center;
        text-align: center;
    }

    .nav-list{
        display: none;

    }
    .nav-title{
        width: 45%;
        font-size:13px;
        font-weight: 700;
        justify-content: center;   
    }

    .hidden{
        display: flex;
        padding-right:60px ;   
    }
    .hidden1{
        display: flex;
        padding-left: 70px; 
    }



    /*--------- Main Section --------*/ 
    main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }



    /*--------- Influencer Journey ---------*/
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .half-width{
    margin: auto;
    width: 90%;
    padding: 0px;
    margin-top: 30px;
    }

    .half-width img{
        width: 202px;
        height: 190px;
    }
    
    
    .half-width1 h1{
        font-size: 38px;
        font-weight: 900;
        margin: 0%;
        padding-top: 5px;

    }



    /*--------- Comapny Logo ---------*/
.company-container{
    margin-top: 51px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.company-logo{
    align-items: center;
    padding: 10px;
    /* border: 1px solid #AAAAAA; */
}

.logo-style {
    padding-inline: 10.5px;
    width: 15%;
}


/* <!------ Popular Collection Style ------> */

.popular-collection{
    margin-top: 50px;
}

.collection-title{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.collections{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 44px;
}


/*-------- Featured Product ---------*/

.container1{
    display: flex;
    flex-direction: column-reverse;
}

.half-width1{
    margin: auto;
  width: 90%;
  padding: 10px;
}

.half-width1 img{
    margin-top: 30px;
    width: 320px;
    height: 188px;
    justify-content: center;
}

.feature-details{
    float: left;
    padding-right: 15px;
}
.half-width1 h1{
    font-size: 38px;
    font-weight: 900;
    margin: 0%;
}

footer{
    margin: 0;
}
}






/* ---------Tab Device---------- */

@media screen and (min-width: 600px) and (max-width: 900px){

        body{
            width: 100%;
        }
    
        /*-------- Header -------*/
    
        .navbar{
            display: flex;
            width: 90%;
            justify-content: center;
            text-align: center;
        }
    
        .nav-list{
            display: none;
    
        }
        .nav-title{
            width: 45%;
            font-size:13px;
            font-weight: 700;
            justify-content: center;   
        }
    
        .hidden{
            display: flex;
            padding-right: 100px ;   
        }
        .hidden1{
            display: flex;
            padding-left: 70px; 
        }
    
    
    
        /*--------- Main Section --------*/ 
        main{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
    
    
        /*--------- Influencer Journey ---------*/
        .container{
            display: flex;
            flex-direction: column-reverse;
        }
        
        .half-width{
        margin: auto;
        width: 90%;
        padding: 0px;
        margin-top: 30px;
        }
    
        .half-width img{
            width: 202px;
            height: 190px;
        }
        
        
        .half-width1 h1{
            font-size: 38px;
            font-weight: 900;
            margin: 0%;
            padding-top: 5px;
    
        }
    
    
    
        /*--------- Comapny Logo ---------*/
    .company-container{
        margin-top: 51px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .company-logo{
        align-items: center;
        padding: 10px;
        /* border: 1px solid #AAAAAA; */
    }
    
    .logo-style {
        padding-inline: 10.5px;
        width: 15%;
    }
    
    
    /* <!------ Popular Collection Style ------> */
    
    .popular-collection{
        margin-top: 50px;
    }
    
    .collection-title{
        color: #3A3A3A;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
    }
    
    .collections{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-column-gap: 44px;
    }
    
    
    /*-------- Featured Product ---------*/
    
    .container1{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .half-width1{
        margin: auto;
        width: 90%;
        padding: 10px;
    }
    
    .half-width1 img{
        margin-top: 30px;
        width: 320px;
        height: 188px;
        justify-content: center; 
        margin-right: 200px;
        margin-bottom: 20px;
    }
    
    .feature-details{
        float: left;
        padding-right: 15px;
    }
    .half-width1 h1{
        font-size: 38px;
        font-weight: 900;
        margin: 0%;
    }
    
    footer{
        margin: 0;
    }
}
    